@using BlogStore.EnitityLayer.Entities
@model Article

<div class="post-content-body">
    @if (Model != null)
    {
        <h5>@Model.Title</h5>
        <br />
        <p>@Model.Description</p>

    }
</div>