@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flexy Free Bootstrap Admin Template by WrapPixel</title>
    <link rel="shortcut icon" type="image/png" href="/flexy-bootstrap-lite-1.0.0/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/flexy-bootstrap-lite-1.0.0/assets/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

</head>

<body>
  
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a href="./index.html" class="text-nowrap logo-img">
                    <img src="/flexy-bootstrap-lite-1.0.0/assets/images/logos/logo.svg" alt="" />
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <i class="ti ti-x fs-6"></i>
                </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/Default/Index/" aria-expanded="false">
                            <i class="ti ti-atom"></i>
                            <span class="hide-menu">Ana Sayfa</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/Dashboard/Index/" aria-expanded="false">
                            <i class="ti ti-atom"></i>
                            <span class="hide-menu">Yönetim Paneli</span>
                        </a>
                    </li>
                    <!-- ---------------------------------- -->
                    <!-- Dashboard -->
                    <!-- ---------------------------------- -->
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           href="/Category/Index/" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                <span class="d-flex">
                                    <i class="ti ti-aperture"></i>
                                </span>
                                <span class="hide-menu">Kategoriler</span>
                            </div>

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           href="/Article/Index/" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                <span class="d-flex">
                                    <i class="ti ti-aperture"></i>
                                </span>
                                <span class="hide-menu">Makaleler</span>
                            </div>

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           href="/Author/Index/" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                <span class="d-flex">
                                    <i class="ti ti-aperture"></i>
                                </span>
                                <span class="hide-menu">Yazarlar</span>
                            </div>

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           href="/Comment/Index" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                <span class="d-flex">
                                    <i class="ti ti-shopping-cart"></i>
                                </span>
                                <span class="hide-menu">Yorumlar</span>
                            </div>

                        </a>
                    </li>
               
              
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           href="/Author/GetProfile"
                           aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                <span class="d-flex">
                                    <i class="ti ti-user-circle"></i>
                                </span>
                                <span class="hide-menu">Profilim</span>
                            </div>

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           href="/Login/UserLogin" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                <span class="d-flex">
                                    <i class="ti ti-mail"></i>
                                </span>
                                <span class="hide-menu">Giriş</span>
                            </div>

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           href="/Register/CreateUser" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                <span class="d-flex">
                                    <i class="ti ti-calendar"></i>
                                </span>
                                <span class="hide-menu">Kayıt Ol</span>
                            </div>

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           href="/Login/Logout" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                <span class="d-flex">
                                    <i class="ti ti-calendar"></i>
                                </span>
                                <span class="hide-menu">Çıkış Yap</span>
                            </div>

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           href="/UserPassword/ChangePassword" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                <span class="d-flex">
                                    <i class="ti ti-layout-kanban"></i>
                                </span>
                                <span class="hide-menu">Şifre Değiştir</span>
                            </div>

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           href="/UserPassword/ForgotPassword" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                <span class="d-flex">
                                    <i class="ti ti-layout-kanban"></i>
                                </span>
                                <span class="hide-menu">Şifremi Unuttum</span>
                            </div>

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           href="/UserPassword/ForgotPassword" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                <span class="d-flex">
                                    <i class="ti ti-layout-kanban"></i>
                                </span>
                                <span class="hide-menu">Profilimi Güncelle</span>
                            </div>

                        </a>
                    </li>
               
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    @RenderBody()
    <script src="~/lib/apexcharts/apexcharts.min.js"></script>

    <script src="/flexy-bootstrap-lite-1.0.0/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/flexy-bootstrap-lite-1.0.0/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/flexy-bootstrap-lite-1.0.0/assets/js/sidebarmenu.js"></script>
    <script src="/flexy-bootstrap-lite-1.0.0/assets/js/app.min.js"></script>
    <script src="/flexy-bootstrap-lite-1.0.0/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/flexy-bootstrap-lite-1.0.0/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="/flexy-bootstrap-lite-1.0.0/assets/js/dashboard.js"></script>
    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>