
<div class="pt-5 comment-wrap">
    @await Component.InvokeAsync("ArticleDetailCommentListContent", new {id = ViewBag.articleId})
 
    <!-- END comment-list -->
    @await Component.InvokeAsync("ArticleDetailLeaveComment", new { id = ViewBag.articleId })

</div>
