@using BlogStore.EnitityLayer.Entities
@model Category
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Kategori Oluşturma Sayfası</h5>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label class="form-label">Kategori Adı</label>
                            <input type="text" class="form-control" asp-for="CategoryName">
                        </div>

                        <button type="submit" class="btn btn-primary">Oluştur</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
