@using BlogStore.EnitityLayer.Entities
@model List<Comment>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <br />
    <h4 class="m-3">Yorum Listesi</h4>
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Kullanıcı Adı</th>
            <th>Yorum detayı</th>
            <th>Sil</th>
            <th>Guncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CommentId</td>
                <td>@item.UserNameSurname</td>
                <td>@item.CommentDetail</td>
                <td><a href="/Comment/DeleteComment/@item.CommentId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Comment/UpdateComment/@item.CommentId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Comment/CreateComment" class="btn btn-success">Yorum Ekle</a>

</div>