@using BlogStore.EnitityLayer.Entities
@model Comment
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <br /> <br />
    <h1>Yorum Güncelleme Sayfası</h1>
    <form method="post">
        <input type="hidden" asp-for="CommentId" />
        <label>Yorum yapan adı soyadı</label>
        <input type="text" asp-for="UserNameSurname" class="form-control" />
        <br />
        <label>Yorum detayı</label>
        <input type="text" asp-for="CommentDetail" class="form-control" />
        <br />
        <button type="submit" class="btn btn-info">Güncelle</button>
    </form>
</div>